<div><%= @task.details %></div>
<%= link_to "Back to list", "/tasks" %>
<%= link_to "Edit this task", edit_path(@task) %>

<%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
